<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" ng-click="$ctrl.createNewStudy()">add</i></a>
</div>

<div>
  <div class="row">
    <div id="search-card" class="card col offset-m1 m10">

      <div class="input-field col m10">
        <i id="search-icon" class="material-icons prefix">search</i>
        <input id="searchInput" type="text" placeholder="Search for studies..." ng-model="$ctrl.searchText">
      </div>
    </div>

  </div>
</div>

<div class="study-card-container">
  <study study="study" ng-repeat="study in $ctrl.studies | filter:$ctrl.searchText" handle-study-click="$ctrl.clickedStudy(studyid)" ></study>
</div>
