
<div>
  <div class="row">
    <div class="card col offset-m2 m6">
      <div class="card-content black-text">
        <input type="search" placeholder="Filter Results" ng-model="searchText">
      </div>
    </div>

      <div>
          <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" ng-click="$ctrl.createNewStudy()">add</i></a>
      </div>

  </div>
</div>

<div class="row small-card-container">
  <study class="small-card-size" study="study" ng-repeat="study in $ctrl.studies | filter:searchText" handle-study-click="$ctrl.clickedStudy(studyid)" ></study>
</div>
