<form ng-submit="$ctrl.submitStudyForm()">
  <div class="row">
    <div class="card col s8 offset-s2">

      <div class= "row">
        <div class="input-field col offset-m1 m4 s12">
          <input id="title" type="text" class="validate" ng-model="$ctrl.studyForm.title" required>
          <label for="title">Title</label>
        </div>
      <div class="input-field col offset-m1 m4 s12">
        <input id="description" type="text" class="validate" ng-model="$ctrl.studyForm.description" required>
        <label for="description">Description</label>
      </div>
    </div>

    <div class= "row">
      <div class="input-field col offset-m1 m4 s12">
        <input id="additionalinfo" type="text" class="validate" ng-model="$ctrl.studyForm.additionalinfo" required>
        <label for="additionalinfo">Additional Information</label>
      </div>
      <div class="input-field col offset-m1 m4 s12">
        <input id="funding" type="number" class="validate" ng-model="$ctrl.studyForm.fundingneeded" required>
        <label for="funding">Funding Needed</label>
      </div>
    </div>

    <div id="direct_upload"
        ngf-drop="$ctrl.uploadImage(files)"
        ng-model="files"
        ng-multiple="true">

      <!-- If there is no image uploaded -->
      <div class="input-field col offset-m1 m4 s12" ng-if="!$ctrl.image">
        <input id="photo" type="text" class="validate" ng-model="$ctrl.studyForm.photo">
        <label for="photo">Photo</label>
      </div>
    </div>

    <!-- If there is an image -->
    <div class="input-field col offset-m1 m4 s12" ng-if="$ctrl.image">
      <cl-image public-id="{{$ctrl.image.public_id}}">
        <cl-transformation height="150" width="150" crop="fill"/>
      </cl-image>
    </div>

    <div class="center">
      <button class="waves-effect waves-light btn center" type="submit">Submit</button>
    </div>
  </div>


  </div>
</form>
