
<div class="row">
  <div class="card col m12">
    <div class="card-content black-text">

      <div class="col m7">
        <p class="small-heading comment">"{{$ctrl.comment.text}}"</p>
      </div>

      <div class="col m5">
        <div ng-if="$ctrl.isOwner">
          <a class="btn-floating btn-tiny waves-effect waves-light grey right" ng-click="$ctrl.delete()"><i class="tiny material-icons">delete</i>Delete</a>
        </div>
        <p class="small-heading">By: {{$ctrl.comment.user.nickname}}</p>
        <p class="small-heading"> {{$ctrl.comment.date | date:"MM/dd/yyyy 'at' h:mma"}}</p>
      </div>
    </div>
  </div>
</div>
