<!--navbar -->
<nav>
  <div class="nav-wrapper">
    <img src="photos/logo_image.png" class="logo">
    <a href="/" class="brand-logo">KickStudy</a>

    <ul class="right">
      <li ng-if="$ctrl.User.isAuthenticated()"><a ng-click="$ctrl.home()">Home </a></li>
      <li ng-if="!$ctrl.User.isAuthenticated()"><a ng-click="$ctrl.createAccount()">Create Account</a></li>
      <li ng-if="$ctrl.User.isAuthenticated()"><a ng-click="$ctrl.search()">Studies</a></li>
      <li ng-if="$ctrl.User.isAuthenticated()"><a ng-click="$ctrl.editProfile()">Profile </a></li>
      <li ng-if="!$ctrl.User.isAuthenticated()"><a ng-click="$ctrl.login()">Login </a></li>
      <li ng-if="$ctrl.User.isAuthenticated()"><a  ng-click="$ctrl.logout()">Logout</a></li>
    </ul>

  </div>
</nav>

<ui-view></ui-view>
