<div class="preloader-wrapper active" ng-if="$ctrl.pendingPayment">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div ng-if="!$ctrl.pendingPayment && !$ctrl.paymentSuccess">
  <div input-field>
    <input type="number" ng-model="$ctrl.paymentAmount">
    <label>Payment Amount ($USD)</label>
  </div>

  <button class="waves-effect waves-light btn center" ng-click="$ctrl.showPymtForm()">Make a Payment</button>
</div>

<div class="card-panel grey lighten-2" ng-if="$ctrl.paymentSuccess">
  <span>
    Thank you for your payment! Your card was successfully charged for {{$ctrl.payment.amount | currency}}. You will see a charge description for "{{$ctrl.payment.description}}."
  </span>
</div>
