
  <div class="card study-card" ng-click="$ctrl.clickedStudy($ctrl.study)">
    <div class="card-image">
      <cl-image public-id="{{$ctrl.study.headerImage.cloudinary.public_id}}">
        <cl-transformation height="180" width="250" crop="fill"/>
      </cl-image>
    </div>
    <div class="card-content black-text">
      <span class="card-title">{{$ctrl.study.title | characters:30}}</span>
      <p><strong>Description:</strong> {{$ctrl.study.description | characters:55}}</p>
      <p><strong>Funding Needed:</strong> {{$ctrl.study.fundingneeded | currency}}</p>
      <p><strong>Researcher:</strong> {{$ctrl.study.researcher.firstname}} {{$ctrl.study.researcher.lastname}}</p>
    </div>
  </div>
