<div>Sign Up Component</div>


<form ng-submit="$ctrl.createUser()">
  <div class="row">
    <div class="card col s8 offset-s2 login">
      <div class= "row">
      <div class="input-field col offset-m4 m4 s12 login">
        <input id="email" type="text" class="validate" ng-model="$ctrl.loginForm.email">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col offset-m4 m4 s12 login">
        <input id="password" type="password" class="validate" ng-model="$ctrl.loginForm.password">
        <label for="password">Password</label>
      </div>
    </div>

    <div class="center">
      <button class="waves-effect waves-light btn center" type="submit">Submit</button>

    </div>
  </div>
</form>
